<!-- Footer -->
<footer id="footer">
    <h3>contact me</h3>
    <ul class="icons">
        <li><a href="mailto:jiangyuan@tju.edu.cn" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
        <!-- <li><a href="#" class="icon circle fa-weixin"><span class="label">Weixin</span></a></li> -->
        <li><a href="https://twitter.com/crisone_yuan" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <!-- <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li> -->
        <!-- <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li> -->

    </ul>

    <ul class="copyright">
        <li>MAIL: jiangyuan@tju.edu.cn</li>
        <li>WECHAT: crisone</li>
        <li>TWITTER: crisone_yuan</li>
    </ul>

</footer>
